button.main{
    border-color: white;
    border-width: 3px;
    font-size: 17px;
}

button.connectFour {
    color:white;
    width:50px;
    height:50px;
    border: 1px solid white;
    border-radius:50%;
    font-size: 15px;
    background-image: url('red-blue.png');
    background-position:center;
}

button.jumpingCube {
    width:94.4px;
    height:41.4px;
    color: black;
    border: 1px solid white;
    font-size: 15px;
    background-image: url('jumping-cube-picture.png');
    background-size:100%;
}

button.pong {
    width: 60px;
    height: 45px;
    color: white;
    border: 1px solid white;
    font-size: 15px;
    background-image: url('pong.png');
    background-size: 100%;
}

input.main {
    border-color: white;
    border-width: 3px;
    font-size: 17px;
}

table {
    background-color: whitesmoke;
    border:5px solid whitesmoke;
    border-radius: 20px;
}
